.Info {
    box-shadow: 0 0 10px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}
.Info__cityName_span,
.Info__citytemp_span{
    display: inline-block;
    font-size: 20px;
    padding-right: 20px;
}
.Info__cityName {
    font-size: 30px;
    margin: 5px;
}
.Info__temp,
.Info__tempMax,
.Info__tempMin {
    color: dimgray;
    font-size: 18px;
}
.Info__temp,
.Info__tempMax,
.Info__tempMin {
    display: inline-block;
    width: 33.33%;
}