.Info {
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 10px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}
.Info__citytemp_span{
    display: inline-block;
    font-size: 20px;
    padding-right: 20px;
}
.Info__cityName {
    font-size: 30px;
    margin: 5px 0px 5px 20px;
    text-align: left;
}
.Info__temp,
.Info__tempMax,
.Info__tempMin {
    color: dimgray;
    font-size: 18px;
}
.Info__temp,
.Info__tempMax,
.Info__tempMin {
    display: inline-block;
}
.Info__temp {
    width: 50%;
}
.Info__tempMax,
.Info__tempMin {
    width: 25%;
}
