.Info {
    background: rgba(255,255,255,0.7);
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    text-align: center;
}
.Info__citytemp_span{
    display: inline-block;
    font-size: 20px;
    padding-right: 20px;
}
.Info__cityName {
    font-size: 30px;
    margin: 5px 0px 5px 20px;
    text-align: left;
}
.Info__temp {
    display: inline-block;
    color: dimgray;
    font-size: 18px;
}
.Info__temp {
    width: 25%;
    font-size: 15px;
    vertical-align: middle;
}
.Info__value {
    display: block;
}
.Info__pic {
    background-size: 96%;
    background-repeat: no-repeat;
    position: absolute;
    height: 57px;
    right: 34px;
    width: 70px;
    top: 10px;
}
