body {
    margin: 0;
}
.Weather {
    font-family: 'Raleway', sans-serif;
    background: url("../../img/samye_krasivye_mesta_24.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: overlay;
}
.Weather__header {
    font-size: 40px;
    margin: 0;
    padding: 20px 0;
    text-align: center;
}
.Weather__wrapper {
    box-sizing: border-box;
    display: inline-block;
    font-size: 0;
    padding: 0 40px;
    width: 40%;
    vertical-align: top;
    text-align: center;
}
.Weather__form,
.Weather__data {
    display: inline-block;
    width: 500px;
}
.Weather__data {
    padding-top: 40px;
    width: 500px;
}
.Weather__history {
    display: inline-block;
    width: 300px;
}
.Weather__wrapper_form {
    width: 60%;
}
.Weather__favorites {
    display: inline-block;
    bottom: 0;
    left: 50%;
    position: fixed;
    height: 200px;
    width: 300px;
    transform: translate(-50%);
}
