body {
    margin: 0;
}
.Weather {
    background: url("http://komotoz.ru/photo/priroda/photos/samye_krasivye_mesta/samye_krasivye_mesta_24.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: overlay;
}
.Weather__header {
    font-size: 40px;
    margin: 0;
    padding: 20px 0;
    text-align: center;
}
.Weather__wrapper {
    box-sizing: border-box;
    display: inline-block;
    font-size: 0;
    padding: 0 40px;
    width: 40%;
    vertical-align: top;
}
.Weather__wrapper_history {
    text-align: right;
}
.Weather__form,
.Weather__data {
    display: inline-block;
    width: 500px;
}
.Weather__data {
    padding-top: 40px;
    width: 500px;
}
.Weather__history {
    display: inline-block;
    width: 300px;
}
.Weather__wrapper_form {
    text-align: center;
    width: 60%;
}
