.History {
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 10px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    min-height: 200px;
    transition: height 1s;
}
.History__item {
    padding: 10px;
}
.History__empty {
    font-size: 15px;
    position: absolute;
    left: 45%;
    top: 50%;
}
.History__title {
    font-size: 30px;
    padding: 10px 0 10px 0;
    margin: 0;
}
.History__clearButton {
    padding: 10px 0;
}